@import url('https://fonts.googleapis.com/css?family=Staatliches:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chivo:400,700,400italic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab+Highlight:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass-Mono:400&display=swap');

*{
  font-family: 'Bebas Neue', serif;
}

p{
  color: #3f4844;
  font-family: 'Arbutus Slab', serif;
  font-size: 15px;
}

em{
  font-family: 'Arbutus Slab', serif;
}

code{
  color: #4a896c;
  font-family: 'Overpass Mono', sans-serif;
}

.title{
  color: #4a896c;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 64px;
}

.header{
  color: #4a896c;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 35px;
}

.subtitle{
  color: #48524e;
  font-size: 46px;
  font-weight: 700;
}

.caption{
  color: #7b8b84;
  font-size: 18px;
}

.about{
  color: #ebebeb;
  font-family: 'Arbutus Slab', serif;
  font-size: 15px;
}

.source{
  color: #3f4844;
  font-family: 'Arbutus Slab', serif;
  font-size: 10px;
  text-align: left;
}

.correl{
  color: #7b8b84;
  font-family: 'Arbutus Slab', serif;
  font-size: 14px;
}

.shadow-dark{
  text-shadow: 0px 2px 2px rgba(47, 47, 47, 1);
}

.shadow-light{
  text-shadow: 0px 1.3px 1.3px rgb(255, 255, 255);
}

.link{
  color: #247BA0 !important;
}

.light{
  color: #ebebeb;
}

.top{
  position: fixed;
  width: 100%;
  top: 50px;
}

.footer{
  position: fixed;
  width: 100%;
  bottom: 10px;
}

.dark{
  color: #2f2f2f;
}
